@media (min-width: 900px) {
  .l-1 {
    float: left;
    width: -2.08333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-2 {
    float: left;
    width: 0%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-3 {
    float: left;
    width: 2.08333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-4 {
    float: left;
    width: 4.16667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-5 {
    float: left;
    width: 6.25%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-6 {
    float: left;
    width: 8.33333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-7 {
    float: left;
    width: 10.41667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-8 {
    float: left;
    width: 12.5%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-9 {
    float: left;
    width: 14.58333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-10 {
    float: left;
    width: 16.66667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-11 {
    float: left;
    width: 18.75%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-12 {
    float: left;
    width: 20.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-13 {
    float: left;
    width: 22.91667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-14 {
    float: left;
    width: 25%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-15 {
    float: left;
    width: 27.08333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-one-third,
  .l-16 {
    float: left;
    width: 29.16667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-17 {
    float: left;
    width: 31.25%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-18 {
    float: left;
    width: 33.33333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-19 {
    float: left;
    width: 35.41667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-20 {
    float: left;
    width: 37.5%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-21 {
    float: left;
    width: 39.58333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-22 {
    float: left;
    width: 41.66667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-23 {
    float: left;
    width: 43.75%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-half, .step .left, .step .right, .c-text-block,
  .l-24 {
    float: left;
    width: 45.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-25 {
    float: left;
    width: 47.91667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-26 {
    float: left;
    width: 50%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-27 {
    float: left;
    width: 52.08333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-28 {
    float: left;
    width: 54.16667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-29 {
    float: left;
    width: 56.25%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-30 {
    float: left;
    width: 58.33333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-31 {
    float: left;
    width: 60.41667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-two-third,
  .l-32 {
    float: left;
    width: 62.5%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-33 {
    float: left;
    width: 64.58333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-34 {
    float: left;
    width: 66.66667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-35 {
    float: left;
    width: 68.75%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-36 {
    float: left;
    width: 70.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-37 {
    float: left;
    width: 72.91667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-38 {
    float: left;
    width: 75%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-39 {
    float: left;
    width: 77.08333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-40 {
    float: left;
    width: 79.16667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-41 {
    float: left;
    width: 81.25%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-42 {
    float: left;
    width: 83.33333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-43 {
    float: left;
    width: 85.41667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-44 {
    float: left;
    width: 87.5%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-45 {
    float: left;
    width: 89.58333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-46 {
    float: left;
    width: 91.66667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-47 {
    float: left;
    width: 93.75%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-full,
  .l-48 {
    float: left;
    width: 95.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

* {
  box-sizing: border-box; }

html, body {
  margin: 0px;
  padding: 0px; }

.l-container {
  margin: auto;
  max-width: 1140px;
  padding: 0;
  padding: 1rem 1rem 0 1rem; }
  .l-container:before, .l-container:after {
    content: "";
    display: table; }
  .l-container:after {
    clear: both; }
  @media (min-width: 750px) {
    .l-container {
      padding: 2rem;
      padding-bottom: 1rem; } }
  .l-container.is-full-width {
    max-width: none;
    margin: 0; }

@media (min-width: 900px) {
  .l-full {
    float: left;
    width: 95.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

@media (min-width: 900px) {
  .l-two-third {
    float: left;
    width: 62.5%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

.l-single {
  max-width: 36rem;
  margin: auto;
  clear: both; }

@media (min-width: 900px) {
  .l-half, .step .left, .step .right, .c-text-block {
    float: left;
    width: 45.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

@media (min-width: 900px) {
  .l-one-third {
    float: left;
    width: 29.16667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

@media (min-width: 900px) {
  .l-one-fourth {
    float: left;
    width: 20.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

.l-first {
  clear: left; }

@media (min-width: 900px) {
  .l-left {
    float: left; } }

@media (min-width: 900px) {
  .l-right {
    float: right; } }

html, body {
  font-family: "DIN Next W01 Regular", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "DIN Next W01 Bold", sans-serif;
  font-weight: 700;
  line-height: 1.5em; }

.btn {
  display: inline-block;
  background-color: #8E00DF;
  border: none;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 18px; }
  .btn:hover {
    background-color: #6e00ac; }

.topbar {
  position: absolute;
  width: 100%;
  top: 0; }
  .topbar .logo {
    position: absolute;
    width: 100px;
    margin: 0px auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 70px; }
  .topbar .menu-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    text-align: right;
    border-top: 80px solid #FEBC00;
    border-left: 500px solid transparent; }
    .topbar .menu-button:hover {
      cursor: pointer; }
    .topbar .menu-button .icon {
      position: absolute;
      top: -70px;
      right: 30px;
      width: 30px;
      height: 30px;
      color: white;
      font-size: 32px; }
      .topbar .menu-button .icon:hover {
        color: #cb9600; }

.navigation {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(254, 188, 0, 0.9);
  top: 0;
  left: 0;
  z-index: 20; }
  .navigation ul.main-nav {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
    line-height: 1.5em; }
    .navigation ul.main-nav li {
      list-style-type: none; }
      .navigation ul.main-nav li a {
        color: white;
        text-decoration: none; }
        .navigation ul.main-nav li a:hover {
          text-decoration: underline; }
  .navigation .menu-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    text-align: right;
    border-top: 80px solid #FEBC00;
    border-left: 500px solid transparent; }
    .navigation .menu-button:hover {
      cursor: pointer; }
    .navigation .menu-button .icon {
      position: absolute;
      top: -70px;
      right: 30px;
      width: 30px;
      height: 30px;
      color: white;
      font-size: 32px; }
      .navigation .menu-button .icon:hover {
        color: #cb9600; }

.hero-text {
  margin-top: 200px;
  text-align: center;
  color: #6F5200; }
  .hero-text p {
    max-width: 600px;
    margin: 0px auto; }

.process {
  background-color: #FEBC00;
  color: #6F5200;
  margin-top: 100px; }
  .process h1, .process h2, .process h3, .process h4 {
    color: white; }
  .process:before {
    background-color: white;
    border-bottom: 16vw solid #FEBC00;
    border-right: 100vw solid transparent;
    display: block;
    clear: both;
    content: " "; }
  .process:after {
    background-color: #FEBC00;
    border-bottom: 16vw solid white;
    border-left: 100vw solid transparent;
    display: block;
    clear: both;
    content: " "; }

.step {
  position: relative; }
  .step .step-text {
    opacity: 0; }
  .step:after {
    content: " ";
    clear: both;
    display: block; }
  .step .left, .step .right {
    padding: 30px 0px; }
  .step img {
    max-width: 100%; }
  @media (min-width: 900px) {
    .step {
      min-height: 40vw; }
      .step .right {
        margin-left: 44%; }
      .step .left, .step .right {
        padding: 0px;
        padding-top: 5vw; }
      .step .absolute-image, .step .image-left, .step .image-right {
        position: absolute;
        max-width: 40%; }
      .step .image-left {
        left: 0; }
      .step .image-right {
        right: 0; } }

.about {
  text-align: center;
  color: #6F5200; }
  .about p {
    max-width: 600px;
    margin: 0px auto 20px auto; }
  .about .profile-image {
    max-width: 200px;
    margin: 0px auto; }
    .about .profile-image img {
      max-width: 100%; }
  @media (min-width: 900px) {
    .about {
      margin-top: -50px; } }

.blogs {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 100px; }
  .blogs .blog-item {
    border-top: 5px solid #FEBC00; }

.date {
  color: #696B6C; }

.blog-item {
  padding: 30px 0px; }
  .blog-item .blog-item--content {
    max-width: 800px; }
    .blog-item .blog-item--content h2 {
      margin: 5px 0px;
      color: #8E00DF; }
    .blog-item .blog-item--content p {
      margin: 0px; }
      .blog-item .blog-item--content p a {
        display: inline; }
    .blog-item .blog-item--content a {
      display: inline-block;
      margin-top: 20px;
      color: #8E00DF; }

.blog-content {
  padding-top: 200px;
  color: #6F5200;
  padding-bottom: 60px; }
  .blog-content .text {
    max-width: 600px;
    margin: 0px auto; }
  .blog-content img {
    max-width: 100%;
    height: auto; }

.related-blog {
  background-color: #f6f8f9;
  padding: 10px 50px;
  max-width: 700px;
  margin: 0px auto; }
  .related-blog .date {
    text-align: center;
    padding: 20px 0px; }
  .related-blog .blog-item h3 {
    font-size: 0.8em;
    color: #696B6C; }

.text-blocks {
  padding-bottom: 60px;
  color: #6F5200;
  border-top: 5px solid #FEBC00; }
  .text-blocks h2 {
    text-align: center; }
  .text-blocks--no-line {
    border-top: none; }

.c-text-block h3 {
  color: #8E00DF; }

.call-to-action {
  background-color: #FEBC00;
  color: #6F5200;
  text-align: center; }
  .call-to-action p {
    max-width: 600px;
    margin: 0px auto 20px auto; }
  .call-to-action input {
    width: 100%;
    padding: 20px;
    max-width: 600px;
    margin-bottom: 20px; }
  @media (min-width: 900px) {
    .call-to-action {
      margin-top: -50px; } }
  .call-to-action:before {
    background-color: white;
    border-bottom: 16vw solid #FEBC00;
    border-right: 100vw solid transparent;
    display: block;
    clear: both;
    content: " "; }

.footer {
  background-color: #6F5200;
  color: white;
  text-align: center;
  padding-bottom: 20px; }
  .footer li {
    list-style-type: none;
    display: inline;
    margin: 0 20px; }
    .footer li a {
      color: white; }
  @media (min-width: 900px) {
    .footer {
      padding-bottom: 0; } }
  .footer a {
    color: white;
    text-decoration: none; }
    .footer a:hover {
      text-decoration: underline; }
